*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.3s linear;
    font-family: "poppins",sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    --color:teal;
    --border-size: 1rem;
    position: relative;
    background-color: var(--bg-color);
    border-radius: var(--border-size);
    color: white;
    display: grid;
    place-content: center;
    isolation: isolate;
    overflow: hidden;
    width: 100%;
}

.card::before,
.card::after{
    content: "";
    position:absolute;
}
.card::before{
    width: 200%;
    height:200%;
    background-image: conic-gradient(var(--color) 0deg,
    transparent 60deg,
    transparent 180deg,
    var(--color) 180deg,
    transparent 240deg);
    inset: -50%;
    z-index: -2;
    animation: border 8s linear infinite;
}
.card:hover::before{
    animation-play-state: paused;
}
@keyframes border {
    to {
        transform: rotateZ(-360deg);
    }
    
}

.card::after{
    --inset: 0.15rem;
    background-color: #111;
    inset: var(--inset);
    border-radius: calc(
        var(--border-size) - var(--inset)
    );
    z-index:-1;
    transition: all 0.3s linear;
}
.card:hover::after{
    background-color: var(--bg-color);
}
.card i {
    font-size: 4rem;
    margin-inline: auto;
    color: transparent;
    -webkit-text-stroke: thin var(--color);
}
.card:hover i{
    color: var(--color);
    -webkit-text-stroke-width: 0;
}
.card .titleone{
    color:var(--color)
}
