.input-bg{
    background: url('./contact.svg');
    /* background-size: cover; */
    background-size: cover;
    height: 100%;
    height: 60px;
    background-repeat: no-repeat;
}
.input-bg::after{
    position: absolute;
    content: "Name";
}
.info-bg{
    background: url('./contact.svg');
    /* background-size: cover; */
    background-size: 100%;
    width: 100%;
    height: 60px;
    background-repeat: no-repeat;
}